body {
  display: flex;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #150566,
    #240461,
    #2e045c,
    #350457,
    #3a0652
  );
}
.wrapper {
  width: 100%;
}
h1 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: #e0e0e0;
}
h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  color: #e0e0e0;
  margin: 10px;
}
.container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}
label {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
