body {
  background-color: whitesmoke;
}
.center_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form_wrapper {
  width: 100%;
  max-width: 700px;
}
.search_form {
  width: 100%;
  /* max-width: 400px; */
  padding: 15px;
  margin: auto;
  display: flex;
}
.ip_form {
  display: flex;
  width: 100%;
}

.search_form input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  padding-block: 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.search_form input[type="submit"] {
  background-color: #4caf50;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: max-content;
  padding-block: 10px;
  padding-inline: 15px;
}

.search_form input[type="submit"]:hover {
  background-color: #45a049;
}
.row {
  display: flex;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.row .column {
  display: flex;
  flex-direction: row;
  width: 50%;
}
p strong {
  background-color: rgb(105, 105, 255);
  padding: 5px;
  border-radius: 10px;
  color: white;
}
.column {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 16px 0;
}

.center_container h2 {
  color: #333;
}

.flag-information,
.explanation {
  margin-bottom: 20px;
}

.center_container h3 {
  color: #555;
}

.center_container p {
  margin: 5px 0;
}

.danger-bar {
  height: 20px;
  background-color: #ff5555;
  width: 0;
  transition: width 0.5s ease-in-out;
  border-radius: 5px;
}
.danger-level-container {
  width: 300px;
  margin: 0 auto;
  background-color: rgb(216, 214, 214);
  border-radius: 5px;
}
