{% extends "base.html" %} {% block content %} {% load static %}
<body>
  <link rel="stylesheet" href="{% static 'report.css' %}" />

  <div class="form-container">
    {% csrf_token %}
    <input
      placeholder="IP Address:"
      type="text"
      id="ip"
      name="ip"
      required
    /><br />
    <textarea
      placeholder="Comment"
      id="comment"
      name="comment"
      required
    ></textarea
    ><br />
    <label for="image">Insert image related to the report</label>
    <input placeholder="Image" type="file" id="image" name="image" /><br />
    <input type="button" value="Submit" />
  </div>
  <script>
    function displaySuccessMessage(message) {
      const successMessage = document.createElement("div");
      successMessage.className = "success-message";
      successMessage.textContent = message;

      document.body.appendChild(successMessage);

      setTimeout(() => {
        successMessage.remove();
      }, 5000);
    }

    function displayErrorMessage(message) {
      const errorMessage = document.createElement("div");
      errorMessage.className = "error-message";
      errorMessage.textContent = message;

      document.body.appendChild(errorMessage);

      setTimeout(() => {
        errorMessage.remove();
      }, 5000);
    }
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const csrftoken = getCookie("csrftoken");

    let auth = "{{request.user.is_authenticated}}";
    const button = document.querySelector("input[type=button]");
    button.addEventListener("click", () => {
      const ipElt = document.querySelector("input[type=text]");
      const commentElt = document.querySelector("textarea");
      // const imageElt = document.querySelector("input[type=file]");

      const ip = ipElt.value;
      const comment = commentElt.value;
      if (auth == "True") {
        fetch("/setauthflag/", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrftoken,
          },
          mode: "same-origin",
          body: JSON.stringify({ ip }),
        }).then((response) => {
          if (response.ok) {
            displaySuccessMessage("Authentication flag set successfully!");
          } else {
            displayErrorMessage("Failed to set authentication flag.");
          }
        });
      } else {
        let user_ip = "{{request.user}}";
        fetch("/setpublicflag/", {
          method: "POST",
          headers: {
            "X-CSRFToken": csrftoken,

            "Content-Type": "application/json",
          },
          mode: "same-origin",

          body: JSON.stringify({ ip }),
        }).then((response) => {
          if (response.ok) {
            displaySuccessMessage("Public flag set successfully!");
          } else {
            displayErrorMessage("Failed to set public flag.");
          }
        });
      }

      // const image = imageElt.files[0];
    });
  </script>
</body>
{% endblock %}
