{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'search.css' %}" />
<script defer src="{% static 'js/search.js' %}"></script>

<div class="center_container">
  <div class="form_wrapper">
    <div class="search_form">
      <!-- <h3>TCP Portal</h3> -->
      <div class="ip_form">
        <input type="text" id="ip" name="ip" value="{{ ip }}" required /><br />
        <input type="submit" value="Search" />
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h2>Our Database</h2>
      </div>
    </div>
  </div>
</div>

{% endblock %}
